@font-face {
    font-family: 'museo100';
    src: url('../fonts/museosans-100.otf');
}


@font-face {
    font-family: 'museo300';
    src: url('../fonts/museosans-300.otf');
}


@font-face {
    font-family: 'museo500';
    src: url('../fonts/museosans-500.otf');
}


@font-face {
    font-family: 'museo700';
    src: url('../fonts/museosans-700.otf');
}


@font-face {
    font-family: 'museo900';
    src: url('../fonts/museosans-900.otf');
}


body {
    background: #39c055;
    padding-top: 20px;
}

button {
    outline: none !important;
}

body, a, span {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #555;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #555;
    margin: 0;
}

a {
    &:hover, &:active, &:focus {
        color: #ff8800;
        text-decoration: none;
    }
}

.top-logo {
    width: 300px;
    margin-bottom: 75px;
}

.input-form {
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    .btn-group .dropdown-menu {
        max-height: 108px;
        overflow-y: scroll;
    }
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C3C3C3;
    border: 2px solid #eee;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.input-form {
    .btn-group .dropdown-menu button {
        border: none;
        background-color: transparent;
        outline: none;
        width: 100%;
        text-align: left;
        &:hover {
            background-color: #f0f0f0;
        }
    }
    .form-group {
        margin: 10px 0;
    }
    .btn-default.dropdown-toggle.required {
        border-color: red;
    }
}

.signature-preview {
    background-color: white;
    position: relative;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
}

.generated-signature-wrapper {
    opacity: 0;
    overflow: hidden;
    height: 1px;
    .banner {
        opacity: 1 !important;
    }
}

.copy-btn.not-visible {
    display: none;
}

.signature-preview {
    .name {
        line-height: 16pt;
        font-weight: bold;
        color: #444444;
    }
    .position {
        color: #ff8800;
        line-height: 16px;
        font-weight: normal;
    }
    .phone span {
        margin: 0;
    }
    img {
        display: inline;
    }
    .bordered {
        border-left: 1px solid #e5e5e5;
        img {
            height: 14px;
            width: auto !important;
            display: inline !important;
        }
    }
    .logo {
        width: 200px !important;
        display: inline !important;
    }
    th {
        padding: 20px;
        text-align: left;
    }
    .social {
        text-align: right;
        margin-top: 10px;
    }
    .website {
        color: black;
        text-align: right;
        margin-top: 5px;
        display: block;
    }
    &.done {
        border: 2px dashed #ff8800;
    }
    .banner-wrp {
        transform: translateY(-20px);
        display: inline-block;
    }
    .banner {
        height: 1px !important;
        opacity: 0;
    }
}

.instruction {
    opacity: 1;
    transition: 400ms;
    -webkit-transition: 400ms;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.21);
    margin-top: 45px;
    .alert {
        margin-bottom: 0;
    }
    &.not-done {
        opacity: 0;
    }
}

#dummies-video {
    margin: 20px 0 45px;
}

video {
    width: 100%;
}

.intro {
    .row {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
    }
    .title {
        font-family: 'Museo300';
        color: white;
        font-size: 36px;
    }
    .description {
        font-family: 'Museo100';
        color: white;
        font-size: 20px;
        margin: 15% 0;
    }
    button {
        background-color: #528edc;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 30px;
        box-shadow: 5px 5px 0px 0px rgba(76, 134, 205, 1);
        -moz-box-shadow: 5px 5px 0px 0px rgba(76, 134, 205, 1);
        -webkit-box-shadow: 5px 5px 0px 0px rgba(76, 134, 205, 1);
        padding: 3px 23px;
        outline: none;
        font-family: 'Museo100';
        transition: 100ms;
        -webkit-transition: 100ms;
        &:active {
            transform: translate3d(5px, 5px, 0);
            -webkit-transform: translate3d(5px, 5px, 0);
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}

.done-button {
    background-color: #528edc;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 30px;
    box-shadow: 3px 3px 0px 0px rgba(76, 134, 205, 1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(76, 134, 205, 1);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(76, 134, 205, 1);
    padding: 3px 23px;
    outline: none;
    font-family: 'Museo100';
    transition: 100ms;
    -webkit-transition: 100ms;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    &:hover, &:focus {
        background-color: #528edc;
        color: white;
    }
    &:active {
        transform: translate3d(3px, 3px, 0);
        -webkit-transform: translate3d(3px, 3px, 0);
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.dummies {
    color: #ff8800;
    &:hover {
        color: #ff6600;
    }
}

@keyframes from_left {
    0% {
        transform: translate3d(-100vw, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes from_left {
    0% {
        -webkit-transform: translate3d(-100vw, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}


@keyframes from_right {
    0% {
        transform: translate3d(100vw, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes from_right {
    0% {
        -webkit-transform: translate3d(100vw, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}


.from_right {
    animation: from_right 1s;
    -webkit-animation: from_right 1s;
}

.from_left {
    animation: from_left 1s;
    -webkit-animation: from_left 1s;
}

@media (max-width: 992px) {
    .top-logo {
        margin-left: 0;
    }
    .intro .row {
        display: block;
    }
}